.main__container {
  background-image: url("./assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  flex: none;
  height: 100%;
  width: 100%;

  display: flex;
  // justify-content: center;
}

@media (max-width: 375px) {
  .main__container {
    background-color: $magnolia;
    background-image: url("./assets/images/bg-sidebar-mobile.svg");
    flex-direction: column;
  }
}
