.thank__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.thank__title {
  color: $marine-blue;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 20px;
}

.thank__desc {
  color: $cool-gray;
  padding: 15px;
  text-align: center;
}
